body{
    background-color: rgb(0, 10, 20);
    color: rgb(255, 204, 0)

}

nav{
    background-color:rgb(0, 26, 50) ;
    color: rgb(255, 228, 192);
     
    display: flex;
    border: 1px solid rgb(0, 77, 148);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    margin: 0% 18%;
    font-size: 25px;
    
}

nav p {
    margin-left: 33%;

}
nav h3{
    padding: 0px;
    margin: 0px;
}
.main{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    justify-items: center;
    padding: 15%;
}

a{
    color: rgb(255, 204, 0);
}

a:hover{
        text-decoration:overline;
}
a:active{
        color: rgb(255, 98, 0);
}

button{
    background-color: rgba(250, 235, 215, 0);
    color:rgb(255, 204, 0);
    padding: 1% 3%;
    cursor: pointer;
    border-color: rgb(255, 204, 0);
}

button:hover{
    box-shadow: 0px 0px 10px 0px rgba(255, 204, 0, 0.349);
}

button:active{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 204, 0);
    font-size: 100%;
}

.hdr1{
    color:rgb(255, 204, 0)
}

iframe{
    width: 250px;
}

.btn1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 204, 0);
    font-size: 100%;
}

footer{ 
    background-color: rgb(0, 26, 50);
            text-align: center;
            padding: 20px 0px;
            position: fixed;
            width: 100%;
            bottom: 0;
             
}

footer p{
    margin: 0;
    color: #d5d5d5;
}

.za{
    height: 30px;
    margin-bottom: -10px;
}

::-webkit-scrollbar{
    width: 0px;
}

ul h2{
    color: #000000;
    background-color: rgb(255, 204, 0);
    padding-left: 4%;
    width: 100%;
}